[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
pandas = "*"
seaborn = "*"
matplotlib = "*"
plotly = "*"
jupyter-dash = "*"
dash = "*"
dash-bootstrap-components = "*"
notebook = "*"
scikit-learn = "*"
numpy = "==2.2"
shap = "==0.48.0"
google-generativeai = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.13"
